spring:
  application:
    name: fake-news-reporter
  
  profiles:
    active: ${SPRING_PROFILE:local}
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  
  thymeleaf:
    cache: false
    
server:
  port: 8080

logging:
  level:
    com.automatica: INFO
    org.springframework.security: INFO
